#red{
    color: red; 
    size-adjust: ;  
}
#blue{
    color: blue;
}
#green{
    color: green;
}
#yellow{
    color: rgb(185, 185, 30);
}
#orange{
    color: orange;
}
img{
    width: 200px;
    height: 200px;
    border: 3px solid black;
}
